header {
  width: 400px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* margin-bottom: 25px; */
}

header h1 {
  font-family: sans-serif;
  color: #444444;
  font-size: 13px;
}

.logo-box-consulta {
  width: 25px;
  height: 25px;
  background-color: #49B4BB;
  border-radius: 8%;
  margin-right: 5px;
}

.logo-consulta {
  display: flex;
  align-items: center;
}

.menu {
  display: flex;
  font-size: 11px;
  align-items: center;
}
.menu p:first-of-type {
  margin-right: 35px;
  color: #A8A8A8;
  font-family: sans-serif;
}

.menu p:nth-child(2n) {
  color: #49B4BB;
  font-family: sans-serif;
}

.home-content {
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  width: 600px;
}

.info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 45px;
}

.info h4 {
  margin-left: 8px;
  color:#444444;
  font-family: sans-serif;
}

section {
  border: 1px solid rgba(0, 0, 0, 0.25);
  height: 80vh;
  border-radius: 4px;
}

.new-button {
  display: flex;
  align-items: center;
  /* justify-content: space-around; */
  width: 138px;
  height: 21px;
  background: #49B4BB;
  border-radius: 4px;
  color: white;
  border: none;
  font-family: sans-serif;
  font-size: 11px;
  margin-right: 8px;
  cursor: pointer;
}

.new-button:hover {
  opacity: 0.9;
}

header {
  margin-top: 10px;
  margin-bottom: 10px;
  width: 100%;
}

table {
  text-align: center;
  font-family: Montserrat, Arial, sans-serif;
  margin: 0 auto;
  width: 95%;
}

tr:nth-child(even) {
  background: #F8F8F8;
}

th {
  font-size: 11px;
  color: #A8A8A8;
}

td {
  font-size: 12px;
  color: #444444;
}

.desmarcar-btn {
  background: none;
  border: none;
  color:#49B4BB;
  font-size: 12px;
  cursor: pointer;
}

.desmarcar-btn:hover {
  opacity: 0.9;
}

.xvector {
  margin-right: 5px;
}

.vector {
  margin-left: 12px;
  margin-right: 10px;
}

a {
  text-decoration: none;
  color:#49B4BB;
  font-size: 11.1px;
  margin-left: 25px;
}

a:hover {
  opacity: 0.8;
}